a.nivo-control:hover {
  border-color:#ffcc00;
}
a.nivo-control.active {
  border-color:#ffcc00;
}
a.nivo-nextNav:hover {
 border-color:#ffcc00 !important;
 background-color: #ffcc00 !important;
 color:#ffcc00 !important;
}
.dropdown-menu {
  text-align: center;
  min-width: 120px !important;
  width:140px !important;
  right: 7px !important;

}
a.dropdown-item:hover {
  width:120px !important;
  background-color: #ffee00 !important;
  border-color:#ffee00 !important;
}
